body {
	padding-top: 60px;
	padding-bottom: 40px;
	background: url("../img/bg.png") repeat; 
}

#homeMain{
	margin:200px auto 0 auto;
	overflow:hidden;
	height:250px;
	width:765px;
}

#quotes{
	background: url("../img/quotes.png") no-repeat; 
	height: 193px;
	width:211px;
	z-index:100;
	position:absolute;
	display:none;
}
#world{
	background: url("../img/world.png") no-repeat;
	height:49px;
	width:154px;
	z-index: 99;
	position:relative;
	top:49px;
	left:-200px;
	overflow: visible !important; 
}
#inConversation{
	background: url("../img/inconversation.png") no-repeat;
	height:58px;
	width:397px;
	z-index: 99;
	position:relative;
	top:0;
	left:854px;
	overflow: visible !important; 
}

#centerForDiplomacy{
	background: url("../img/centerfordip.png") no-repeat;
	height:39px;
	width:380px;
	z-index: 99;
	position:relative;
	top:0;
	left:1000px;
	overflow: visible !important; 
}

#homeLinks{
	margin-left:213px !important;	
	display:none;
	z-index: 97;
}
#homeLinks p{
	font-size:18px; 
	float:left;
}
#homeLinks p a{
	color:grey;
	text-decoration:none;
}

#homeLinks p a:hover {
	text-decoration:underline;
}
.dots {
	height:5px;
	width:5px;
	background:url("../img/dot.png") no-repeat;
	float:left;
	margin: 7px 7px 0;
}

#splashSocial{
	text-align:center;

}

#splashSocial p {
	color: Grey;
}


#splashSocial p a {
	color: grey;
}


#splashSocial p a:hover {
	color:grey;
	text-decoration:underline;
}

